variables:
  # enable docker buildkit. Used with `BUILDKIT_INLINE_CACHE=1` below
  DOCKER_BUILDKIT: 1
  CONTAINER_BUILD_IMAGE: $CI_REGISTRY_IMAGE/build:$CI_COMMIT_SHORT_SHA
  CONTAINER_DEVELOPMENT_IMAGE: $CI_REGISTRY_IMAGE/development:$CI_COMMIT_SHORT_SHA
  CONTAINER_PRODUCTION_IMAGE: $CI_REGISTRY_IMAGE/production:$CI_COMMIT_SHORT_SHA
  PYTHON_IMAGE_VERSION: 3.12.4-slim

before_script:
  - docker info
  - docker login $CI_REGISTRY -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD

stages:
  - build
  - test

# Note: These rules can be combined with "rules: &any_branch" to allow the pipeline to run on any branch
# if desired.
.default_rules:
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "main"
    - if: $CI_COMMIT_BRANCH == "main"
    - if: $CI_PIPELINE_SOURCE == "manual"

build:builder:
  stage: build
  image: docker:stable
  script:
    - docker build 
      --pull 
      -t $CONTAINER_BUILD_IMAGE
      --build-arg BUILDKIT_INLINE_CACHE=1
      --build-arg PYTHON_IMAGE_VERSION=$PYTHON_IMAGE_VERSION
      --cache-from $CONTAINER_BUILD_IMAGE 
      --target builder
      .
    - docker push $CONTAINER_BUILD_IMAGE
  rules:
    - !reference [ .default_rules, rules ]
  artifacts:
    expire_in: 2 days

build:development:
  stage: build
  image: docker:stable
  needs:
    - job: build:builder
      artifacts: true
  script:
    - docker build
      --pull
      -t $CONTAINER_DEVELOPMENT_IMAGE
      --build-arg BUILDKIT_INLINE_CACHE=1
      --build-arg PYTHON_IMAGE_VERSION=$PYTHON_IMAGE_VERSION
      --cache-from $CONTAINER_BUILD_IMAGE
      --target development
      .
    - docker push $CONTAINER_DEVELOPMENT_IMAGE
  rules:
    - !reference [ .default_rules, rules ]
  artifacts:
    expire_in: 2 days

build:production:
  stage: build
  image: docker:stable
  needs:
    - job: build:builder
      artifacts: true
  script:
    - docker build
      --pull
      -t $CONTAINER_PRODUCTION_IMAGE
      --build-arg BUILDKIT_INLINE_CACHE=1
      --build-arg PYTHON_IMAGE_VERSION=$PYTHON_IMAGE_VERSION
      --cache-from $CONTAINER_BUILD_IMAGE
      --target production
      .
  rules:
    - !reference [ .default_rules, rules ]
  artifacts:
    expire_in: 2 days

push-production-image-job:
  stage: build
  needs:
    - job: build:production
      artifacts: true
  image: docker:stable
  script:
    - docker push $CONTAINER_PRODUCTION_IMAGE
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
  artifacts:
    expire_in: 2 days

lint-test-job:
  stage: test
  needs:
    - job: build:development
      artifacts: true
  image: docker:stable
  script:
    - chmod +x scripts/lint.sh
    - docker run --rm -v $CI_PROJECT_DIR:/app -w /app $CONTAINER_DEVELOPMENT_IMAGE ./scripts/lint.sh
  rules:
    - !reference [ .default_rules, rules ]

.unit-test-job:
  stage: test
  needs:
    - job: build:development
      artifacts: true
  image: docker:stable
  script:
    - docker run --rm $CONTAINER_DEVELOPMENT_IMAGE pytest tests
  rules:
    - !reference [ .default_rules, rules ]
