version: "3.9"

services:
  scrapy-boilerplate-v2:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - PYTHON_IMAGE_VERSION=${PYTHON_IMAGE_VERSION}
    volumes:
      - .:/app/
    tty: true
    command: ["sleep", "infinity"]
