version: "3.9"

services:
  scrapy-boilerplate-v2:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./pyproject.toml:/app/pyproject.toml
      - ./poetry.lock:/app/poetry.lock
      - ./src:/app/src/
      - ./scripts:/app/scripts/
      - ./tests:/app/tests/
    tty: true
    command: ["sleep", "infinity"]
